/* reset */
* {margin: 0; padding: 0; }
html {width: 100%; height: 100%;}
ul, ol, li {list-style: none;}
input {padding: 3px 20px; min-height: 44px;}
textarea {padding: 10px; width: 100%; font-size: 18px; color: #1f1b1c;  resize: none;}
textarea:focus, textarea:active {outline: none;}
a {text-decoration: none; color: #1f1b1c;}
a:hover, a:focus, a:active {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
button {background: none; border: none; padding: 0; margin: 0; font-size: 18px; cursor: pointer; overflow: visible;}
button:focus, a:focus {outline: 0 !important;}
input:focus, input:active {outline: none;}


body {background-color: #216fae1c; }
.wrap {margin: 0 auto; padding: 120px 0; width: 780px;}
h3 {margin-bottom: 48px; text-align: center; font-size: 28px;}
.container {margin-bottom: 30px;}
.list + .list {margin-top: 20px;}
.list .cont {display: flex; align-items: center;}
.list .cont form {width: 100%;}
.list .txt {display: flex; align-items: center; margin-bottom: 0; padding: 8px 4px; min-width: calc(100% - 216px); min-height: 44px; vertical-align: middle; border-bottom: 1px solid #d9d9d9;}
.input-w {display: flex; position: relative; width: 100%;}
.todo-input {display: block; min-width: calc(100% - 216px); min-height: 44px; font-size: 16px;}
.btn-complete {margin-right: 8px; padding: 0; min-width: 34px;}
.btn-w {display: flex; align-items: center; margin-left: 8px;}
.btn-w button:last-child {margin-left: 4px;}
.btn-register {margin-left: 4px; min-height: 44px;}

@media screen and (max-width: 829px){
  .wrap {width: 80%;}
  .list .txt {min-width: calc(100% - 125px)}
  .btn-w button {padding: 2px 8px;}
  .btn-w button span {display: none;}
}
  


